<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testcompany.daf">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".vue.SettingsActivity" />
        <activity android:name=".vue.SituationActivity" />
        <activity android:name=".vue.DisplaySaleSupervisorActivity" />
        <activity android:name=".vue.SimpleOfflineMapActivity" />
        <activity
            android:name=".vue.MapsActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".vue.ListSalesActivity" />
        <activity
            android:name=".vue.NewSaleActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".vue.EtatStockActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".vue.StockActivity" />
        <activity
            android:name=".vue.FormulaireNewClientActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".vue.ListClientsActivity" />
        <activity android:name=".vue.AccueilActivity">
        </activity>
        <activity
            android:name=".vue.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>